<div class="flex justify-center md:p-8">
  <div class="p-4 lg:basis-1/2 flex flex-col items-center gap-4">
    <h1 class="text-4xl mb-8 font-bold">
      Explore Lord of the Rings characters
    </h1>
    <div class="mb-4">
      <button
        type="button"
        class="bg-gray-100 border-2 border-gray-300 hover:border-gray-500 hover:bg-gray-200 shadow-xl hover:shadow-2xl rounded-lg p-2 px-4 w-auto"
        (click)="diceTrigger.next()"
      >
        Roll Dice
      </button>
    </div>
    <org-character [id]="dice$" />
  </div>
</div>
